<% for (user in users) { %>
    <tr>
        <td>
            <%= Number(user)+1 %>
        </td>
        <td>
            <%= users[user].name %>
        </td>
        <td>
            <%= users[user].email %>
        </td>
        <td>
            <%= users[user].gender %>
        </td>
        <td>
            <%= users[user].status %>
        </td>
        <td>
            <a href="/update_user?id=<%=users[user]._id%>" class="btn border-shadow update">
                <span class="text-gradient"> <i class="fas fa-pencil-alt"></i> </span>
            </a>
            <a href="#" class="btn border-shadow delete">
                <span class="text-gradient"> <i class="fas fa-times"></i> </span>
            </a>
        </td>
    </tr>
    <% } %>